.App {
  /*text-align: center;*/
}

html{
  background-color: black;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

b {
  color: black;
}

#folder-tree{
  text-align: right;
  padding: 20px;
}

.container{
  text-align: left;
  padding: 0;
    margin: 0;
}

.custom-Row{
  margin-left: 30px;
}

.container .row {
    margin: 0;
}

.fname{
  min-width: 50px;
}

.class-name{
  border: white;
border-left-style: solid;
}


h5{
  font-size: 1.64rem;
line-height: 110%;
margin: .82rem 0 .656rem 0;
color: darkorchid;
}

li {
  list-style-type: none;
    color: aqua;
    font-size: 25px;
}
